:root {
  --black: #000000;
  --white: #ffffff;
  --white-opacity-9: rgba(255, 255, 255, 0.9);
  --grey: #eeeeee;
  --form-grey: #f2f2f2;
  --form-darker: #ebebeb;
  --border-white: #e5e5e5;
  --darker-grey: #ababab;
  --blue: #81B3D2;
  --darker-blue: #669EC0;
  --darkest-blue: #5496BD;
  --brown: #766357;
  --darker-brown: #604E43;
  --darkest-brown: #503E33;
  --special-grey: #bdbbbc;
  --shadow-color: rgba(0, 1, 1, 0.2);
  --grey-opacity-3: rgba(255, 255, 255, 0.3);
  --form-shadow: rgba(0, 1, 1, 0.15);
  --toggle-shadow: rgba(0, 0, 0, 0.25);
  --opacity-3: rgba(0, 0, 0, 0.3);
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--white);
  box-shadow: 0px 5px 15px var(--shadow-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
  left: 600px;
  top: 0px;
}

.main-picture {
  position: relative;
  background-image: url(../img/background\ photo.jpg);
  background-color: var(--grey);
  width: 1200px;
  height: 509px;
  display: flex;
  justify-content: center;
}

.main-picture::after {
  position: absolute;
  content: "";
  height: 57px;
  width: 1200px;
  top: 452px;
  background-image: url(../img/Shape.svg);
  background-repeat: no-repeat;
}

.main-navigation {
  min-height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-white);
  font-family: "PT Sans", Arial, sans-serif;
  background-color: transparent;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  text-align: left;
}

.site-navigation :nth-child(3n) {
  text-align: right;
  margin-left: 148px;
}

.site-navigation :nth-child(4n) {
  text-align: right;
  margin-right: 11px;
}

.site-navigation .active {
  color: var(--brown)
}

.site-navigation a {
  padding: 15px 0;
  display: block;
  color: var(--black);
  width: 227px;
}

.site-navigation a:hover {
  color: var(--blue);
}

.site-navigation a:active {
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.features {
  min-height: 330px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.feature-item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.feature-item p {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  line-height: 21px;
}

.reasons {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons h2 {
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 23px;
  ;
}

.block {
  min-height: 189px;
  padding-top: 27px;
}

.reason-1 {
  display: grid;
  grid-template-columns: 400px 800px;
  background-color: var(--blue);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.reason-2 {
  display: grid;
  grid-template-columns: 800px 400px;
  background-color: var(--blue);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  height: 155px;
  width: 301px;
  margin-top: 48px;
}

.box h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.box p {
  margin: 0;
  padding-top: 14px;
}

.reason-list {
  background-color: var(--grey);
  height: 256px;
}

.reasons-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  padding-top: 30.62px;
  margin: 0;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 258px;
}

.reasons-item p {
  margin: 0;
  margin-bottom: 23px;
  line-height: 21px;
  font-size: 14px;
}

.reasons-item h3 {
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.map {
  display: block;
  justify-self: center;
}

.booking {
  height: 291px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.booking h2 {
  margin: 0;
  padding-top: 57px;
  padding-bottom: 32px;
  font-size: 30px;
  line-height: 24px;
}

.booking p {
  margin: 0;
  padding-bottom: 42px;
}

.form-header {
  width: 568px;
  height: 86px;
  background-color: var(--brown);
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--white);
}

.form-header:hover {
  background-color: var(--darker-brown);
}

.form-header:active {
  background-color: var(--darkest-brown);
  color: var(--grey-opacity-3);
}

.hotel-search {
  position: absolute;
  left: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 458px;
  height: 285px;
  align-items: center;
  background-color: var(--white);
  padding: 55px;
  box-shadow: 0px 7px 15px var(--form-shadow);
}

.date-area {
  width: 458px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.calendar {
  display: block;
  position: absolute;
  transform: translateX(428px) translateY(2px);
}

.form-date {
  width: 333px;
  height: 28px;
  background-color: var(--form-grey);
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 6px;
  resize: none;
}

.form-date::placeholder, .form-number::placeholder {
  color: var(--black);
  opacity: 1;
  padding-left: 2px;
}

.form-people {
  height: 38px;
  width: 458px;
  display: flex;
  justify-content: space-between;
}

.form-adults {
  width: 226px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-children {
  width: 179px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-number {
  position: relative;
  width: 36px;
  height: 26px;
  background-color: var(--form-grey);
  border: none;
  padding: 6px 39px;
  line-height: 26px;
  resize: none;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.plus {
  position: absolute;
  transform: translate(-24px, 14px);
}

.minus {
  position: absolute;
  transform: translate(-100px, 18px);
}

.form-icon:hover path, .form-icon:hover rect {
  fill: var(--black);
}

.form-icon:active path, .form-icon:active rect {
  fill: var(--blue);
}

.hotel-search textarea:hover {
  background: var(--form-darker);
}

.hotel-search textarea:focus {
  background: var(--white);
  outline: 2px solid #E5E5E5;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: var(--blue);
  color: var(--white);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  border: 0;
  border: none;
  box-shadow: none;
}

.search-button:hover {
  background-color: var(--darker-blue);
}

.search-button:active {
  background-color: var(--darkest-blue);
  color: var(--grey-opacity-3);
}

.main-footer {
  margin-top: -113px;
  position: relative;
  z-index: 1;
}

.page-footer {
  width: 1200px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--white-opacity-9);
  align-items: center;
  justify-self: center;
}

.footer-contacts {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  height: 61px;
  width: 251px;
  padding-left: 111px;
  padding-bottom: 22px;
}

.footer-contacts p {
  margin: 0;
  margin-top: 8px;
}

.social-items {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  margin: 3px;
}

.social-item a:hover {
  background-color: var(--darker-blue);
}

.social-item a:active path {
  background-color: var(--darkest-blue);
  fill: var(--grey-opacity-3);
}

.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  justify-content: center;
}

.footer-copyright p {
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
  line-height: 26px;
  padding-left: 64px;
  padding-top: 5px;
}

.academy {
  margin-left: 8px;
}

.academy:hover path {
  fill: var(--blue);
}

.academy:active path {
  fill: var(--special-grey);
}

/* Cтраница каталога */

.filter {
  display: grid;
  grid-template-columns: 255px 1fr 316px;
  color: var(--white);
  background-image: url(../img/background.png);
  background-color: var(--black);
  height: 190px;
  padding-left: 72px;
  padding-right: 73px;
  padding-top: 27px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  padding-left: 17px;
  padding-bottom: 21px;
  border: none;
}

.check {
  padding-left: 24px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.check_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-box {
  position: absolute;
  width: 27px;
  height: 23px;
  background-color: transparent;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  margin-left: -41px;
}

.check_input:checked+.check-box {
  background-image: url(../img/checked.svg);
}

.check_input:disabled+.check-box {
  background-image: url(../img/checkbox-disabled.svg);
}

.check_input:checked:disabled+.check-box {
  background-image: url(../img/checked-disabled.svg);
}

.check_input:focus+.check {
  outline: dodgerblue;
}

.filter-block p {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-bottom: 25px;
}

.range legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.filter-scale {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 316px;
  margin-top: 10.5px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--darker-grey);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 3.8px;
  height: 3.82px;
  padding: 0;
  border: 7.6px solid var(--white);
  background-color: var(--darker-grey);
  border-radius: 50%;
  box-shadow: 0px 4px 4px var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 248px;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.price-controls {
  position: relative;
  width: 313px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--white);
}

.price-controls::before {
  content: "";
  position: absolute;
  left: 156px;
  top: 4px;
  width: 2px;
  height: 22px;
  background-color: var(--white);
}

.price-number {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  height: 21px;
  width: 32px;
  color: var(--white);
  background: transparent;
  border: none;
  text-align: left;
  resize: none;
  text-transform: uppercase;
  margin-left: 3px;
}

.price-start {
  width: 58px;
  margin-right: 88px;
  margin-left: 64px;
}

.price-number::placeholder {
  color: var(--white);
  opacity: 1;
}

.section-top {
  display: flex;
  justify-content: flex-start;
  height: 26px;
  padding-left: 73px;
  padding-right: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.section-top h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.section-top p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0 38px;
  padding: 0;
}

.sorting-item a .active {
  color: var(--blue);
  border: none;
}

.sorting-item a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--opacity-3);
  border-bottom: 1px dotted var(--blue);
}

.sorting-item a.active {
  color: var(--blue);
  border: none;
}

.sorting-item a:hover {
  color: var(--blue);
  opacity: 1;
}

.sorting-item a:active {
  color: var(--black);
  border: none;
}

.show {
  font-style: normal;
  font-weight: normal;
  width: 137px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 32px;
  margin-left: 86px;
}

.show:hover, .show:focus {
  color: var(--black);
  background-color: var(--white);
}

.sorting-list {
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 504px;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 34px;
}

.arrows:hover path {
  fill: var(--black);
}

.arrows:active path {
  fill: var(--blue);
}

.arrows a.active path {
  fill: var(--blue);
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel {
  padding: 30px 73px;
  border-top: 1px solid var(--border-white);
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 894px;
  height: 90px;
  margin-left: 28px;
}

.stars_amara {
  background-image: url(../img/star.svg);
  width: 87px;
  background-repeat: space;
}

.stars_desert {
  background-image: url(../img/star.svg);
  width: 64px;
  background-repeat: space;
}

.stars_villas {
  background-image: url(../img/star.svg);
  width: 41px;
  background-repeat: space;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-middle {
  display: flex;
  justify-content: space-between;
  width: 183px;
  height: 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  margin-top: 6px;
}

.card-middle p {
  margin: 0;
  padding: 0;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.hotel:last-child {
  border-bottom: 1px solid var(--border-white);
}

.raiting {
  display: flex;
  height: 27px;
  width: 110px;
  background-color: var(--grey);
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  margin-right: 6px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.info {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  width: 110px;
  height: 27px;
}

.info:hover {
  background-color: var(--darker-blue);
}

.info:active {
  background-color: var(--darkest-blue);
  mix-blend-mode: normal;
  color: var(--grey-opacity-3);
}

.book {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
  width: 142px;
  height: 27px;
}

.book:hover {
  background-color: var(--darker-brown);
}

.book:active {
  background-color: var(--darkest-brown);
  mix-blend-mode: normal;
  color: var(--grey-opacity-3);
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

.name:hover {
  color: var(--blue);
}

.name:active {
  color: var(--black);
  opacity: 0.3;
}

.hidden {
  display: none;
}
